<?xml version="1.0" encoding="utf-8"?>
<!--
   Copyright © 2021. Richard P. Parkins, M. A.
   Released under GPL V3 or later
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:theme="@style/Theme.MaterialComponents.DayNight"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_label"
        android:supportsRtl="true">

        <receiver
            android:name="uk.co.yahoo.p1rpp.secondsclock.SecondsClockWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/seconds_clock_widget_info" />
        </receiver>

        <activity
            android:name="uk.co.yahoo.p1rpp.secondsclock.ClockActivity"
            android:screenOrientation="fullSensor"
            android:exported="false">
            <intent-filter>
                <action android:name="uk.co.yahoo.p1rpp.ClockActivity" />
            </intent-filter>
        </activity>

        <activity
            android:name="uk.co.yahoo.p1rpp.secondsclock.ClockConfigureActivity"
            android:screenOrientation="fullSensor"
            android:exported="false">
            <intent-filter>
                <action android:name="uk.co.yahoo.p1rpp.ClockConfigureActivity" />
            </intent-filter>
        </activity>

        <activity
            android:name="uk.co.yahoo.p1rpp.secondsclock.MainActivity"
            android:exported="true"
            android:label="@string/app_label"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="uk.co.yahoo.p1rpp.MainActivity" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="uk.co.yahoo.p1rpp.secondsclock.WidgetConfigureActivity"
            android:screenOrientation="fullSensor"
            android:exported="false">
            <intent-filter>
                <action android:name="uk.co.yahoo.p1rpp.WidgetConfigureActivity" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true"/>
    </application>

</manifest>
